//path
$fonturl     : '../../fonts';
$imageurl    : '/assets/images';

// color variables
$colors:(
     50: #fff,  
    100: #E8E8E8, 
    150: #AAAAAA, 
    180: #CCD0D4,       
    200: #AAAAAA,       
    250: #74778e, 
    500: #1572e8, 
    700: #00A53C,         
    900: #000000,
);

@function color($color-name, $color-variant:null) {
   @if ($color-variant != null) {
    // map inception
    @return map-get(map-get($colors, $color-name), $color-variant);
  } @else {
    @return map-get($colors, $color-name);
  }
}

// fonts
$fonts : (
  rg   : 'TitilliumWeb-Regular',
  sm   : 'TitilliumWeb-SemiBold',
  bd   : 'TitilliumWeb-Bold',
);

@function font($font-name, $font-variant:null) {
   @if ($font-variant != null) {
    // map inception
    @return map-get(map-get($fonts, $font-name), $font-variant);
  } @else {
    @return map-get($fonts, $font-name);
  }
}