.view-page {
    .viewBox {
        margin-bottom: 30px;
        border-radius: 3px;
        @include box-shadow(0, 0, 20px, rgba(color(900), 0.04));
        &.settingContent{
            padding: 25px;
        }
        .card{
            border:none;
            &.viewCard{
               box-shadow: 0px 1px 3px 0px rgba(54, 74, 99, 0.05); 
            }
            .card-aside-wrap{
                .card-content{
                    .card-inner{
                            h5{
                                font-size: 21px;
                                margin-bottom: 20px;
                            }
                        &:not(:last-child){
                            border-bottom: 1px solid #d4d4d4;
                        }
                        &.kyc-details{
                            margin-bottom: 20px;
                                padding: 20px;
                                padding-bottom: 30px;
                            p{
                                font-size: 17px;
                            }
                        }
                        .kyc-doc{
                        	height: 160px;
                            width:300px;
                            position: relative;
                            .img-thumbnail{
                            height: 160px;
                            width:300px;
                            object-fit: cover;
                            }
                            &.pdf-doc{
                            border: 1px solid #dddd;
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            background-color: #E5F6FF;
                                img{
                                    height: 60px;
                                }
                            }
                            &:hover{
                                background-color:#08aaff82;
                                opacity: 1;
                                img{
                                    opacity: 0.1;
                                }
                                .middle{
                                    opacity: 1;
                                    
                                    .custom-ico{
                                    background-color: white;
                                    border-radius: 50%;
                                    font-size: 20px;
                                    width: 40px;
                                    height: 40px;
                                    text-align: center;
                                    align-items: center;
                                    display: grid;
                                    opacity: 1;
                                    i{
                                        color:#08aaff;
                                    }
                                  }
                                }
                            }
                            .middle {
                                  transition: .5s ease;
                                  opacity: 0;
                                  position: absolute;
                                  top: 50%;
                                  left: 50%;
                                  transform: translate(-50%, -50%);
                                  -ms-transform: translate(-50%, -50%);
                                  text-align: center;
                                }
                            }
                        }
                        &.w-77{
                            width: 77%;
                        }
                    }
                .card-aside{
                    &.card-aside-left{
                        border-right: 1px solid #d4d4d4;
                    }
                }
                .card-inner-group{
                    max-width: 350px;
                    .card-inner{
                            max-width: 100%;
                            flex-grow: 1;
                            padding: 20px;
                            .user-card{
                                padding:20px;
                                align-items: center;
                                &.user-card-s2{
                                        display: flex;
                                        flex-direction: column;
                                        text-align: center;
                                }
                                .user-avatar{
                                    margin: 0 auto;
                                    font-weight: 400;
                                    img{
                                            border-radius: 50%;
                                            width: 150px;
                                            height: 150px;
                                            object-fit: cover;
                                    }
                                }
                                .user-info{
                                    margin-top: 20px;
                                    span{
                                        font-size: 14px;
                                        color: #74778e;
                                    }
                                }
                            }
                            .sub-text{
                                display: block;
                                font-family: font(sm);
                            }
                            .row{
                                .col-6{
                                    margin-bottom: 15px;
                                }
                            }
                        }
                        .card-inner:not(:last-child){
                                border-bottom: 1px solid #d4d4d4;
                        }
                }
                .qr-code{
                    img{
                        height: 150px;
                    margin-bottom: 20px;
                    }
                }
            }
        }
    }
    @media(max-width: 1440px){
        .card{
            .card-aside-wrap{
                 .card-content{
                   .card-inner{
                     .row{
                            .col-xl-4{
                                flex: 0 0 40.0%;
                                max-width: 40.0%;
                            }
                        }
                   } 
                 }
            }
        }
    }
    @media (max-width: 1366px){
        .card{
             .card-aside-wrap{
                .card-content{
                    .card-inner{
                         h5{
                                font-size: 18px;
                            }
                        .kyc-doc{
                            height: 165px;
                        }
                        .row{
                            .col-xl-4{
                              flex: 0 0 45.0%;
                                max-width: 45.0%;  
                            }
                        }
                    } 
                }
                .card-inner-group{
                    .card-inner{
                        .user-card{
                            .user-avatar{
                                img{
                                    width: 120px !important;
                                    height: 120px !important;
                                }
                            }
                        }
                    }
                }
             }
        }
    }
    @media (max-width: 1280px){
        .card{
             .card-aside-wrap{
                .card-content{
                    .card-inner{
                        .kyc-doc{
                            width: 270px;
                            height: 140px;
                        }
                        .row{
                            .col-xl-4{
                              flex: 0 0 50%;
                                max-width: 50%;  
                            }
                        }
                    }
                }
             }
        }
    }
    @include media-breakpoint-down(lg) {
        .viewBox{
            .card{
                 .card-aside-wrap{
                    .card-content{
                        padding:0px;
                        .card-inner{
                            .kyc-doc{
                                width:257px ;
                                margin: 0 auto;
                                margin-bottom: 20px;
                                &.pdf-doc{
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                    .card-inner-group{
                    .card-inner{
                        .user-card{
                            .user-avatar{
                                img{
                                    width: 110px !important;
                                    height: 110px !important;
                                }
                            }
                        }
                    }
                }
                 }
            }
        &.settingContent{
            padding: 20px;
        }
        }
    }
    @include media-breakpoint-down(md) {
        .card{
             .card-aside-wrap{
                .card-content{
                    .card-inner{
                        .kyc-doc{
                             width: 170px;
                            &.pdf-doc{
                                img{
                                    height: 40px;
                                }
                            }
                        }
                        .row{
                            .col-xl-4{
                              flex: 0 0 100.0%;
                                max-width: 100.0%;  
                            }
                        }
                    }
                }
             }
        }
    }
    &.settingContent{
            padding: 15px;
        }

    @include media-breakpoint-down(sm) {
        .viewBox {
            .card{
                .card-aside-wrap{
                .card-content{
                    .card-inner{
                        .kyc-details{
                            p{
                            margin-bottom: 6px;
                            }
                        }
                        padding:0px;
                        .btn_row{
                            margin-bottom: 20px;
                        }
                    }
                        &.w-77{
                           width:100%;
                        }
                }
                 .card-aside{
                    width: 260px;
                 }
                 .card-inner-group{
                    .card-inner{
                        border-bottom:1px solid #d4d4d4;
                        .user-card{
                            .user-info{
                                margin-top: 10px;
                                h5{
                                    margin-bottom: 0px;
                                    font-size: 18px;
                                }
                            }
                            .user-avatar{
                               img{
                                width: 100px  !important;
                                height: 100px !important; 
                               } 
                            }
                        }
                        .row{
                            .col-6{
                                margin-bottom: 10px;
                            }
                        }
                    }
                 }
                 .qr-code{
                    text-align: center;
                }   
                }
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .viewBox{
            .card{
                .card-aside-wrap{
                    .card-content{
                         .kyc-details{
                            padding:20px;
                        }
                        .card-inner{
                            p{
                                margin-bottom:6px;
                            }
                            .kyc-doc{
                                  width: 100%;
                                    margin-bottom:20px;
                            }
                        }
                    }
                    .card-aside{
                        width: 100%;
                        &.card-aside-left{
                        border-right: none;
                        }
                        &.toggle-slide{
                            min-width: 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        .user {
            text-align: center;
        }
    }

}