//date picker
.bootstrap-datetimepicker-widget {
    box-shadow: 0 0 20px rgba(color(900), 0.15);
    display: block !important;

    &.dropdown-menu {
        border: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
        &.bottom {
            &:after {
                border-bottom-color: color(500);
            }
        }
    }

    &.top {
        &:after {
            border-top-color: color(500);
        }
    }

    .table {
        thead {
            background-color: color(500);
            color: color(50);
            th {
                border: none;
                border-radius: 0;
                font-weight: normal;
                font-size: 14px;
                font-family: font(sm);
                vertical-align: middle;
                &.next, &.prev {
                    span {
                        font-family: 'icomoon' !important;
                        font-size: 20px;
                    }
                }
                &.next {
                    span {
                        &:before {
                            content: "\ea62";
                        }
                    }
                }
                &.prev {
                    span {
                        &:before {
                            content: "\ea61";
                        }
                    }
                }
                &.dow {
                    background-color: lighten(color(500), 15%);
                    font-size: 13px;
                    color: color(50);
                }
            }
            tr {
                &:first-child {
                    th {
                        &:hover {
                            background-color: color(500);
                            color: color(50);
                            .fa {
                                color: color(50);
                            }
                        }
                    }
                }
            }
        }
        td {
            border-top: none;
            border-radius: 0;
            font-size: 12px;
            &.today {
                &:before {
                    border-bottom-color: color(500);
                }
            }
            &.active {
                background-color: color(500);
                color: color(50);

                &:before {
                    border-bottom-color: color(50);
                }
            }
            &:hover {
                background-color: color(500) !important;
                color: color(50) !important;
            }
            &.old,
            &.new {
                color: #BABBC9;
            }
        }
    }

    .table-condensed {
        thead {
            background-color: color(500);
            color: color(50);
            th {
                border: none;
                border-radius: 0;
                font-weight: normal;
                padding: 8px;
                font-size: 14px;
                font-family: font(sm);
                vertical-align: middle;
                &.dow {
                    background-color: #b3dc15;
                }
                &.prev,
                &.next {
                    span {
                        font-family: 'icomoon' !important;
                        font-size: 20px;
                    }
                }
                &.next {
                    span {
                        &:before {
                            content: "\ea62";
                        }
                    }
                }
                &.prev {
                    span {
                        &:before {
                            content: "\ea61";
                        }
                    }
                }
            }

            tr {
                &:first-child {
                    th {
                        &:hover {
                            background-color: color(500);
                            color: color(50);
                            .fa {
                                color: color(50);
                            }
                        }
                    }
                }
            }
        }

        td {
            span {
                border-radius: 0;
                width: 38px;
                height: 38px;
                line-height: 38px;
                font-size: 13px;
                &.month {
                    font-size: 14px;
                }
                &.active {
                    background-color: color(500);
                    color: color(50);
                }
                &:hover {
                    background-color: color(500);
                    color: color(50);
                }
                &.fa {
                    font-family: 'icomoon' !important;
                    font-size: 20px;
                }
                &.fa-calendar {
                    &:before {
                        content: "\e953";
                    }
                }
                &.fa-clock-o {
                    &:before {
                        content: "\e9d1";
                    }
                }
                &.fa-arrow-up {
                    &:before {
                        content: "\ea3a";
                    }
                }
                &.fa-arrow-down {
                    &:before {
                        content: "\ea3e";
                    }
                }
            }
        }
    }

    .timepicker {
        padding: 15px;
        a[data-action] {
            padding: 0px;
        }
        .btn-primary {
            background-color: color(500);
            background-image: none;
            border-radius: 0;
            border-color: color(500);
            margin: 15px 0;
            &:hover,
            &:focus,
            &:active {
                background-color: darken(color(500), 10%);
                border-color: darken(color(500), 10%);
            }
        }
        .fa {
            color: color(500);
        }
        table {
            td {
                height: 35px;
                line-height: 35px;
                width: 35px;
                span {
                    font-size: 16px !important;
                }
                span,
                &.day,
                &.hour,
                &.minute,
                &.second {
                    &:hover {
                        background-color: color(500);
                        color: color(50);
                    }
                }
            }
        }
    }
}