//pagination
.react-bootstrap-table-pagination {
    padding: 20px 0px;
    font-size: 14px;
    border-top: 1px solid rgba(color(900), 0.1);
    position: relative;
    .count-wrap {
        .sort-entry {
            min-width: 56px;
            margin-left: 10px;
            .bootstrap-select {
                .dropdown-toggle {
                    padding: 2px 5px;
                    height: 30px;
                    .filter-option-inner-inner {
                        padding-right: 12px;
                    }
                }
                &.show {
                    .dropdown-menu {
                        .inner {
                            li {
                                a {
                                    padding: 5px 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .count {
        color: #6C6F70;
    }
    .pagination-item {
        display: flex;
        align-items: center;
        .sort-entry {
            margin-left: 20px;
            .bootstrap-select {
                .dropdown-toggle {
                    min-width: 100px;
                    height: 24px;
                    border-radius: 30px;
                    font-size: 11px;
                    padding: 3px 10px;
                    color: color(900);
                    font-family: font(sm);
                    &:after {
                        top: -5px;
                        color: color(900);
                    }
                    .filter-option-inner-inner {
                        padding-right: 20px;
                    }
                    &.bs-placeholder {
                        .filter-option-inner-inner {
                            color: color(900);
                        }
                    }
                }
                &.show {
                    .dropdown-menu {
                        .inner {
                            li {
                                a {
                                    padding: 8px 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .pagination {
        margin-bottom: 0;
        justify-content: flex-end;
        li {
            &:not(:last-child) {
                margin-right: 10px;
            }
            a {
                border: none;
                color: color(500);
                border-radius: 50% !important;
                height: 24px;
                width: 24px;
                padding: 0px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                font-family: font(sm);
                &:focus {
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    @include no-outline();
                }
                &:hover {
                    background-color: color(500);
                    color: color(50);
                }
            }
            &.active {
                a {
                    background-color: color(500);
                    color: color(50);
                }
            }
            &:last-child,
            &:first-child {
                a {
                    &:hover {
                        background-color: color(500);
                        color: color(50);
                    }
                }
            }
        }
    }

    &.row{
        margin-left:0px;
        margin-right: 0px;
    }
    button{
        background-color:transparent;
        color: #000000;
        &.dropdown-toggle{
            padding: 1px 6px;
            height: 30px;
            border-color:#CCD0D4 !important;
            font-family: TitilliumWeb-Regular;
            &:after{
                    content: "\ea60";
                    font-family: 'icomoon';
                    border: none;
                    top: -2px;
                    font-size: 19px;
                    position: relative;
                    color: #8E9199;
                    vertical-align: middle;
                    right: -4px;
                }
                &:hover,&:focus{
                    background-color: transparent !important;
                    outline: none !important;
                    color:#000000 ;
                    box-shadow: none !important;
                    outline: 0px auto -webkit-focus-ring-color !important;
                    border-color: #1572e8 !important;
                }
            }
            @include media-breakpoint-down(sm){
            	 &.dropdown-toggle{
            	 	 padding: 1px 4px;
            	 }
            }
        }

    .dropdown-menu{
            min-width: 100% !important;
            border-color: #1572e8;
            width: 100%;
            margin-top: 0px;
            background-color: #fff;
            border-top: 0;
            border-radius: 0 0 3px 3px;
            z-index: 3;
            padding: 0;
            border-bottom:none;
            .dropdown-item{
                padding:5px 8px;
                font-size: 14px;
			    white-space: normal;
			    line-height: normal;
			    color: #000;
            }
            &.show{
        border-top: 1px solid #1572e8;
        border-radius: 0;
        transform: translate3d(0px, -150px, 0px);
        }
        a:hover{
                background-color: #1572e8;
                color: #fff;
        }
    }

    .react-bootstrap-table-pagination-total{
    	color:#6C6F70;
    }

    @media (max-width:1440px) {
        padding: 15px 0px;
        .pagination {
            li {
                a {
                    padding: .4rem .60rem;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        margin-top: 15px;
        .pagination {
            li {
                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .pagination {
            text-align: center;
            margin: 0px auto;
        }
    }

    @include media-breakpoint-down(xs) {
        text-align: center;
        .pagination {
            margin-top: 10px;
            justify-content: center;
            li {
                a {
                    padding: 5px 6px;
                }
            }
        }
        .count-wrap {
            margin-bottom: 15px;
        }
    }
}