.modal-backdrop.show {
    opacity: 0.65;
}

.modal-content {
    @include media-breakpoint-down(xs) {
        width: 95%;
        margin: 10px auto;
    }
}

.modal-effect {
    display: block !important;
    visibility: hidden;
    @include backface-visibility(hidden);
    @include transition(all 0.3s);
    .modal-content {
        @include scale(0.7);
        opacity: 0;
        @include transition(all 0.3s);
    }
    &.show {
        visibility: visible;
        .modal-content {
            @include scale(1);
            opacity: 1;
        }
    }
}

.modal {
    .modal-header {
        padding: 15px 30px;
        background: color(50);
        border: 0px;
        border-radius: 3px 3px 0 0;
        border-bottom: 1px solid rgba(color(900), 0.1);
        .modal-title {
            color: color(900);
            font-size: 20px;
            font-family: font(sm);
        }
        .close {
            z-index: 5;
            padding: 0;
            color: white;
            font-size: 18px;
            text-shadow: none;
            margin: 0;
            opacity: 1 !important;
            position: absolute;
            top: -15px;
            right: -15px;
            background-color: color(500);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            @include box-shadow(0, 0, 10px, rgba(color(900), 0.06));
            &:hover {
                background-color: darken(color(500), 5%);
                opacity: 1;
            }
        }

        @include media-breakpoint-down(md) {
            padding: 15px 20px;
            .close {
                font-size: 17px
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 15px 20px;
            .close {
                top: -10px;
                right: -10px;
            }
            .modal-title {
                font-size: 15px;
            }
        }

        @include media-breakpoint-down(xs) {
            padding: 10px 15px;
        }
    }

    .modal-lg {
        @include media-breakpoint-up(xl) {
            max-width: 1350px;
        }
        @media(min-width:1281px)and(max-width:1366px) {
            max-width: 1250px;
        }
        @media(min-width:1200px)and(max-width:1280px) {
            max-width: 1200px;
        }
        @include media-breakpoint-only(lg) {
            max-width: 950px;
        }
    }

    .modal-md {
        max-width: 1000px;
        @include media-breakpoint-only(md) {
            max-width: 750px;
        }
        @include media-breakpoint-only(sm) {
            max-width: 550px;
        }
    }

    .modal-sm {
        @include media-breakpoint-up(sm) {
            max-width: 470px;
        }
        @include media-breakpoint-up(md) {
            max-width: 550px;
        }
    }

    .modal-xs {
        @include media-breakpoint-up(sm) {
            max-width: 410px;
        }
    }

    .modal-content {
        border: 0;
        .modal-body {
            padding: 30px;
            @include media-breakpoint-down (md) {
                padding: 20px;
            }
            @include media-breakpoint-down (xs) {
                padding: 15px;
            }
        }
    }

    &.deleteModal {
        h4 {
            font-size: 20px;
            margin-bottom: 30px;
        }
        @include media-breakpoint-down(sm){
            h4{
                margin-bottom: 15px;
            }
        }
    }
        .btnRow {
            .btn {
                min-width: 80px;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
        @include media-breakpoint-down (lg) {
            h4 {
                margin-bottom: 20px;
            }
        }
        @include media-breakpoint-down (md) {
            h4 {
                font-size: 18px;
                margin-bottom: 0px;
            }
            img{
                height: 150px;
                min-height: 150px;
            }
            .btnRow {
                .btn {
                    min-width: 70px;
                    &:not(:last-child) {
                        margin-right: 8px;
                    }
                }
            }
        }

}