<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.monayuser">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- READ_PHONE_STATE requires special handling on Android 10+ -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Storage permissions require special handling on Android 11+ -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="29" 
        tools:node="replace"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32"
        tools:node="replace"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup,supportsRtl,android:icon">

        <activity android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="monay.page.link"
                    android:scheme="https"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.changepassword.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.autotopuppinverify.AutoTopUpMPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.signup.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

<!--            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="monay.page.link"
                    android:scheme="https"/>
            </intent-filter>-->
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.shareinvite.ShareInviteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.autotopup.AutoTopUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.secondaryuserdetail.SecondaryUserDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.termsconditions.TermsConditionsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.faq.FaqActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.resetpassword.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.navigation.NavigationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.otpverify.VerifyOtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <activity
            android:name=".ui.paymoneyfromprimarywallet.PayMoneyFromPrimaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.editprofile.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.forgotcodeverify.VerifyCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".ui.setup.SecuritySetupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.mycard.MyCardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.notification.NotificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.paymentrequest.PaymentRequestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.wallet.WalletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.paymoney.PayMoneyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.addmoneyinwallet.AddMoneyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.successaddmoney.AddSentMoneyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.requestmoney.RequestMoneyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.scan.ScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".ui.showmycode.ShowMyCodeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.withdrawal.WithdrawalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.requestwithdrawal.RequestWithdrawalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mybankaccounts.BankAccountsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.transactiondetails.TransactionDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.mobileverification.MobileVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.setpin.SetMPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.forgotmpin.ForgotMPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.secondaryuserlink.SecondaryUserScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".ui.secondaryaccount.SecondaryAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <service
            android:name=".fcm.FireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Replaced deprecated cropper with UCrop which is configured in code -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.blockcontacts.BlockActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.blockcontacts.UnBlockActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.kyc.KYCActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.supportcategory.SupportCategoryActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.mycontact.UpdatedContactActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.secondaryusertransaction.SecondaryUserTransactionListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".ui.primaryuserlist.PrimaryUserListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".ui.kyc.dynamic_kyc.DynamicKYCActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.paymoneyfromprimarywallet.mpinscreen.MPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <uses-library android:name="android.test.runner" />
    </application>

</manifest>