<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946894924978-b07r9qt2tr10rs4r967jah8b141t7v85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946894924978-b07r9qt2tr10rs4r967jah8b141t7v85</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>946894924978-l3gte87k1i0tvf0e5nls87shumt0vj2m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvA2xDkz38D4i88pyfpjb8DEVmT_Qf9iY</string>
	<key>GCM_SENDER_ID</key>
	<string>946894924978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codiant.enterprise.monay</string>
	<key>PROJECT_ID</key>
	<string>monayuser-db086</string>
	<key>STORAGE_BUCKET</key>
	<string>monayuser-db086.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946894924978:ios:c82a2bcdb7fe3a57136dab</string>
	<key>DATABASE_URL</key>
	<string>https://monayuser-db086.firebaseio.com</string>
</dict>
</plist>