//
//  Develop.xcconfig
//  Monay
//
//  Created by Manish Rathore on 06/09/21.
//  Copyright © 2021 Codiant. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Monay/Pods-Monay.develop.xcconfig"

CONFIGURATION_IDENTIFIER = develop

APP_VERSION = 0.1.0-alpha.2

APP_BUILD = 1

API_URL = https:/$()/monay.codiantdev.com/api

// Develop

SWIFT_OPTIMIZATION_LEVEL = -Onone

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
