.main-content {
    padding: 115px 50px 30px 180px;
    @include transition(all 0.3s);
    @media (max-width: 1599px) {
        padding: 100px 15px 25px 120px;
    }
    @include media-breakpoint-down(lg) {
        padding: 80px 5px 20px;
    }
    @include media-breakpoint-down(sm) {
        padding: 65px 0 15px;
    }
}

@include media-breakpoint-down(lg) {
    .overlay-screen {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        left: 0;
        top: 0;
        z-index: 9;
        visibility: hidden;
        @include transition(ease-in-out 0.3s);
    }
}

// custom scroll
.mCustomScrollbar {
    .mCSB_inside> {
        .mCSB_container {
            margin-right: 0px;
        }
    }
    .mCSB_scrollTools_vertical {
        width: 5px !important;
    }
    .mCSB_draggerRail {
        background-color: #E8E8E8;
        width: 5px;
        border-radius: 3px;
    }
    .mCSB_dragger_bar {
        width: 5px !important;
        border-radius: 10px;
        background-color: color(500) !important;
    }
    &.sidebar-wrapper {
        .mCSB_scrollTools_vertical,
        .mCSB_draggerRail,
        .mCSB_dragger_bar {
            width: 4px !important;
            z-index: 999;
        }
    }
}

// Ripple Effect
.ripple-effect-dark,
.ripple-effect {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.ripple-effect span.ripple-overlay,
.ripple-effect-dark span.ripple-overlay {
    -webkit-animation: ripple 0.9s;
    animation: ripple 0.9s;
    border-radius: 100%;
    background: #fff;
    height: 12px;
    position: absolute;
    width: 12px;
    line-height: 12px;
    opacity: 0.2;
    pointer-events: none;
    z-index: 0;
}
.ripple-effect-dark span.ripple-overlay {
    background: #000;
    opacity: 0.07;
}

// Loader
.listloader {
    .spinner {
        display: inline-block;
        color: color(900);
        font-size: 30px;
        -webkit-animation: spin-animation 1s infinite linear;
        animation: spin-animation 1s infinite linear;
    }
}