.admin-dashboard {

    .count-item {
        padding: 25px;
        @include box-shadow(0, 0, 15px, rgba(color(150), 0.15));
        margin-bottom: 30px;
        @include transition(.3s);
        border-radius: 3px;
        &:hover {
            -webkit-box-shadow: 0 14px 28px rgba(color(900), 0.01), 0 10px 10px rgba(color(900), 0.09);
            box-shadow: 0 14px 28px rgba(color(900), 0.01), 0 10px 10px rgba(color(900), 0.09);
        }
        i{
            display: block;
            font-size: 45px;
            max-width: 60px;
            color:#1572e8;
        }
        .count {
            label {
                margin-bottom: 0;
                color: color(150);
                font-size: 15px;
            }
            h3 {
                font-size: 30px;
                color: color(900);
            }
            .info{
                span{
                    &.change{
                        &.up{
                             color:#1ee0ac;
                             i{
                                color:#1ee0ac;
                             }
                        }
                        &.down{
                            color: #e85347;
                            i{
                                color:#e85347;
                             }
                        }
                    }
                    i{
                    display: initial;
                    font-size: 14px;
                    margin-right: 5px;
                    }
                }
            }
        }
    }

    .graphCard {
        @include box-shadow(0, 0, 20px, rgba(color(900), 0.05));
        border-radius: 3px;
        &__title {
            font-size: 18px;
        }        
        .card-header {
            padding: 25px 25px 5px;
            border-radius: 3px 3px 0 0;
        }
        .card-body {
            padding: 25px;
            #line-chart{
                height:423px;max-width:100%;
            }
            #donut-chart{
                height:360px;max-width:100%;
            }
        }
    }

    @media(max-width: 1680px) {
        .count-item {
            padding: 20px;
            .count {
                h3 {
                    font-size: 28px;
                }
                label {
                    font-size: 14px;
                }
            }
            i{
                font-size: 50px;
            }
        }

        .graphCard {
            .card-header {
                padding: 20px 20px 10px;
            }
            .card-body {
                padding: 20px;
            }
        }
    }

    @media(max-width: 1440px) {
        .dashboardRow {
            margin-left: -10px;
            margin-right: 10px;
            >.col,
            >[class*="col-"] {
                padding-right: 10px;
                padding-left: 10px
            }
        }

        .count-item {
            margin-bottom: 20px;
                i{
                    font-size: 40px;
                }
            .count {
                h3 {
                    font-size: 22px;
                }
            }
        }
    }

    @media(max-width:1399px){
        .count-item{
            i{
                margin-right: 0px;
                font-size: 35px;
            }
            .count {
                h3 {
                    font-size: 18px;
                }
                .info{
                    span{
                        font-size: 12px;
                        i{
                            font-size: 11px;
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .dashboardRow {
            margin-left: -7.5px;
            margin-right: -7.5px;
            >.col,
            >[class*="col-"] {
                padding-right: 7.5px;
                padding-left: 7.5px
            }
        }

        .count-item {
            margin-bottom: 15px;
            padding: 15px;
            .count {
                label{
                    font-size: 13px;
                }
                h3 {
                    font-size: 17px;
                }
            }
            i {
                font-size: 30px;
                max-width: 40px;
            }
        }

        .graphCard {
            margin-bottom: 15px;
            .card-header {
                padding: 15px 15px 10px;
            }
            .card-body {
                padding: 15px;
                #line-chart{
                    height:auto;
                }
                #donut-chart{
                    height:auto;
                }
            }
        }
    }


    @media (max-width:479px) {
        .column {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

}