.login-body {
    .login-page {
        height: 100vh;
        padding: 30px;
        .login-wrap {
            width: 360px;
            .common {
                padding: 40px 30px;
                background-color: white;
                width: 100%;
                z-index: 2;
                @include box-shadow(0, 0, 23px, rgba(color(900), .03));
                border-radius: 3px;
                .title {
                    font-size: 42px;
                    color: color(900);
                    margin-bottom: 40px;
                }
                .form-group {
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    .custom-checkbox {
                        .custom-control-label {
                            span {
                                top: 2px;
                                position: relative;
                            }
                        }
                    }
                    .form-control {
                        background-color: white;
                        border: 0;
                        border-bottom: 1px solid #e4e5ec;
                        border-radius: 0;
                        padding-left: 0;
                        font-size: 14px;
                        &:focus {
                            border-color: color(500);
                        }
                    }
                }

                &.forgot_password {
                    h6 {
                        font-size: 26px;
                    }
                    @include absolutecenter(y);
                    right: 0;
                    z-index: 1;
                    width: 100%;
                    visibility: hidden;
                    opacity: 0;
                    @include transition(all 0.5s);
                    &.open {
                        right: -360px;
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .forgotpassword {
                    position: absolute;
                    right: -44px;
                    bottom: -3px;
                    vertical-align: middle;
                    font-size: 16px;
                    color: color(500);
                    font-family: font(sm);
                    z-index: 3;
                    a {
                        background-color: color(900);
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        margin-left: 6px;
                        display: inline-block;
                        text-align: center;
                        line-height: 28px;
                        vertical-align: middle;
                        &:before {
                            content: "\e900";
                            font-family: 'icomoon';
                            font-size: 14px;
                            color: color(50);
                        }
                    }
                    &.forgotpassword_hover {
                        a {
                            &:before {
                                content: "\ea40";
                            }
                        }
                    }
                }
                &.disabled {
                    position: relative;
                    &:before {
                        content: "";
                        background: white;
                        opacity: 0.8;
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        border-radius: 30px;
                    }
                    input,
                    .btn,
                    .custom-checkbox {
                        pointer-events: none;
                    }
                }
            }
        }

        @include media-breakpoint-down(lg) {
            .login-wrap {
                width: 350px;
                .login {
                    &.disabled {
                        display: none;
                    }
                }
                .common {
                    padding: 30px 20px;
                    .title {
                        font-size: 32px;
                        margin-bottom: 30px;
                    }
                    .forgotpassword {
                        right: -34px;
                        span {
                            font-size: 15px;
                        }
                    }

                    &.forgot_password {
                        -webkit-transition: none;
                        -o-transition: none;
                        transition: none;
                        &.open {
                            right: 0;
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(md) {
            height: auto;
            min-height: 100vh;
            .login-wrap {
                .common {
                    .form-group {
                        .custom-checkbox {
                            .custom-control-label {
                                span {
                                    top: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 20px;
            .login-wrap {
                width: 300px;
                .common {
                    padding: 20px 15px;
                    .title {
                        font-size: 26px;
                        margin-bottom: 25px;
                    }
                    .form-group {
                        .custom-checkbox {
                            .custom-control-label {
                                font-size: 14px;
                                span {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    &.forgot_password {
                        padding: 20px 15px;
                        h6 {
                            font-size: 22px;
                        }
                    }

                    .forgotpassword {
                        right: -28px;
                        bottom: -3px;
                        span {
                            font-size: 14px;
                        }
                        a {
                            &:before {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(xs) {
            .login-wrap {
                width: 280px;
            }
        }

    }
}