//
//  QA.xcconfig
//  Monay
//
//  Created by Manish Rathore on 08/09/21.
//  Copyright © 2021 Codiant. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Monay/Pods-Monay.qa.xcconfig"

CONFIGURATION_IDENTIFIER = qa

APP_VERSION = 0.1.0-beta.2

APP_BUILD = 1

//API_URL = https:/$()/monay.codiantdev.com/api

API_URL = https:/$()/monay-staging.codiantdev.com/api

// Distribution

SWIFT_OPTIMIZATION_LEVEL = -O

SWIFT_ACTIVE_COMPILATION_CONDITIONS =
