html{height: 100%;}
body{
  background:#F6F7F8;
  font-family: font(rg); min-height: 100%;
  font-size: 14px;position:relative;color:color(900);
}
@media (min-width: 576px){
    .container {
        max-width: 100%;
    }
}

a{
    &:hover{text-decoration: none;}
}

:focus{outline: 0 !important;}