.btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-family: font(bd);
    
    &.min-w130 {
        min-width: 130px;
    }

    &.btn-primary {
        border-color: color(500);
        color: color(50) !important;
        background-color: color(500);
        &:hover,
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled):active {
            border-color: darken(color(500), 5%);
            @include no-outline();
            box-shadow: none;
            background: darken(color(500), 5%);
            color: color(50);
        }
    }

    &.btn-danger{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    &:hover,
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled):active {
            @include no-outline();
            box-shadow: none;
             color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }
    }

    &.btn-outline-danger {
        border-color: color(500);
        color: color(500);
        &:hover,
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled):active {
            border-color: darken(color(500), 5%);
            @include no-outline();
            box-shadow: none;
            background-color: rgba(color(500), 0.1);
            color: color(500);
        }
    }

    &.btn-light {
        border-color: #e2e2e2;
        color: color(150);
        background-color: #f4f4f4;
        &:hover,
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled):active {
            border-color: darken(#e2e2e2, 5%);
            @include no-outline();
            box-shadow: none;
            background: darken(#f4f4f4, 5%);
            color: color(150);
        }
    }

    @media (max-width:1440px) {
        padding: 9px 18px;
    }

    @include media-breakpoint-down(md) {
        &.min-w130 {
            min-width: 110px;
        }
    }

    @include media-breakpoint-down(sm) {
        font-size: 13px;
    }

    @include media-breakpoint-down(xs) {
        &.min-w130 {
            min-width: 80px;
        }
    }
}