/* Switch css */
$switch-checked-lever-bg: color(50);
$switch-bg-color: #1572e8;
$switch-unchecked-lever-bg: #D7D7D7;
$switch-radius: 15px;
$switch-unchecked-bg: #858585;
$input-disabled-solid-color: 1px solid #DDD;

.switch,
.switch * {
    -webkit-tap-highlight-color: transparent;
    @include user-select(none);
}

.switch label {
    cursor: pointer;
    margin: 0px;
    font-size: 15px;
    color: #9d9d9d;
}

.switch label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
    +.lever {
        &:after {
            -webkit-animation: switch-shadow 0.4s;
                    animation: switch-shadow 0.4s;
        }
    }
    &:checked+.lever {
        background-color:#18b7184d;
        &:before,
        &:after {
            left: 17px;
        }
        &:after {
            background-color:#13bd13;
            -webkit-animation: switch-shadow-color 0.4s;
                    animation: switch-shadow-color 0.4s;
        }
    }
}

.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 37px;
    height: 14px;
    background-color: $switch-unchecked-lever-bg;
    border-radius: $switch-radius;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    &:before,
    &:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        left: 0px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
        transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
        -o-transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
        transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
        transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
    }
    &:after {
        background-color: $switch-unchecked-bg;
    }
}

// Switch active style
input[type=checkbox]:checked:not(:disabled)~.lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus~.lever::before {
    background-color: $switch-bg-color;
}
input[type=checkbox]:not(:disabled)~.lever:active:before,
input[type=checkbox]:not(:disabled).tabbed:focus~.lever::before {
    background-color: rgba(0, 0, 0, .08);
}

// Disabled Styles
.switch input[type=checkbox][disabled]+.lever {
    cursor: default;
    background-color: rgba(0, 0, 0, .12);
}
.switch label input[type=checkbox][disabled]+.lever:after,
.switch label input[type=checkbox][disabled]:checked+.lever:after {
    background-color: $input-disabled-solid-color;
}