// page title row
.page-title-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    .left-side {
        margin-bottom: 15px;
        .page-title {
            font-size: 30px;
            font-family: font(bd);
            color: color(900);
            margin-bottom: 0;
        }
        .breadcrumb {
            background-color: transparent;
            padding: 0px;
            margin-bottom: 3px;
            .breadcrumb-item {
                font-size: 12px;
                font-family: font(sm);
                color: color(150);
                &.active {
                    color: color(500);
                }
                a {
                    color: #777777;
                    &:hover {
                        color: color(500);
                    }
                }
                +.breadcrumb-item {
                    &:before {
                        content: "|";
                    }
                }
            }
        }
    }
    .right-side {
        margin-bottom: 15px;
        padding-left: 20px;
        .btn {
            &:not(:last-child) {
                margin-right: 8px;
            }
        }
        .btnFilter {
            padding: 7px 12px;
            font-size: 16px;
        }
        a{
            color: color(900);
            font-size:15px;
            &:hover{
                color: color(500);
            }
        }
    }

    @media (max-width:1440px) {
        .left-side {
            .page-title {
                font-size: 26px;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .left-side {
            .page-title {
                font-size: 24px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .left-side {
            .page-title {
                font-size: 20px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 0;
        .left-side {
            .page-title {
                font-size: 20px;
            }
        }
        .right-side {
            .btnFilter {
                font-size: 15px;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .left-side {
            .page-title {
                .breadcrumb {
                    .breadcrumb-item {
                        font-size: 11px;
                    }
                }
            }
        }
        .right-side {
            padding-left: 0px;
            .btn {
                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
            .btnFilter {
                font-size: 14px;
            }
        }
    }

}